version: "3.8"

services:
  redis:
    restart: always
    image: redis:7-alpine
    command:
      - "redis-server"
      - "--appendonly"
      - "yes"
      - "--maxmemory"
      - "512mb"
      - "--maxmemory-policy"
      - "noeviction"
    volumes:
      - redis-data:/data

volumes:
  redis-data:
    name: twenty_redis_data
